* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"),
    url(./assets/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
}
